.edit-article__label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
    margin-top: 20px;
}

.edit-article__validation-error {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #F5222D;
}

.edit-article__tags-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.edit-article__tags-fields-wrapper {
    display: flex;
    flex-direction: column;
}

.edit-article__tags-field {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.edit-article__tag-input {
    width: 300px;
}

.edit-article__tag-delete {
    width: 100px;
    margin-left: 20px;
}

.edit-article__tag-add {
    width: 120px;
    margin-left: 20px;
}
