.post-header {
    display: flex;
    justify-content: space-between;
}

.post-header__title-layout {
    display: flex;
    flex-direction: column;
}

.post-header__title-line {
    display: flex;
}

.post-header__title {
    font-family: 'Inter UI';
    font-size: 20px;
    line-height: 28px;
    color: #1890FF;
    max-width: 680px;
}

.post-header__title--card {
    height: 30px;
    overflow-y: hidden;
}

.post-header__title-link {
    text-decoration: none;
}

.post-header__like-icon {
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.75);
}

.post-header__likes-counter {
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.75);
}

.post-header__tags {
    display: flex;
    max-width: 680px;
}

.post-header__tags--card {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.post-header__tags--card::-webkit-scrollbar {
    display: none;
}

.post-header__tags--post {
    flex-wrap: wrap;
    overflow-x: auto;
}

.post-header__tag {
    background-color: transparent;
}

.post-header__user-layout {
    display: flex;
    align-items: flex-start;
    margin-left: 15px;
}

.post-header__user-name-and-date {
    display: flex;
    flex-direction: column;
}

.post-header__user-name {
    font-family: 'Inter UI';
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
}

.post-header__date {
    font-family: 'Inter UI';
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.post-header__user-avatar-placeholder {
    min-width: 46px;
    min-height: 46px;
    background: url('./Rectangle 1.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 99%;
    background-color: #FFFFFF;
    margin-left: 15px;
}

.post-header__user-avatar {
    height: 46px;
    width: 46px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 15px;
}
